# .env
# -------------------------------------------------
# DJANGO SETTINGS
# -------------------------------------------------
SECRET_KEY=django-insecure-dw*mbn230opyrj1r=hr8x*#9yksqa%a-d6w(=qo&9n9quw&s@w
DEBUG=True
ALLOWED_HOSTS=*
# -------------------------------------------------
# POSTGRESQL - SUPERUSUARIO (SOLO PARA INICIALIZAR)
# -------------------------------------------------
POSTGRES_DB=mi_proyecto
POSTGRES_USER=app_user
POSTGRES_PASSWORD=passwordsegura

# -------------------------------------------------
# USUARIO DE APLICACIÓN (DJANGO)
# -------------------------------------------------
APP_DB_USER=django_app_user
APP_DB_PASSWORD=passwordseguradjango